{% extends 'base.html' %}
{% load static %}

{% block title %}
  Orders
{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    <p>Welcome to your Orders, {{ user.username }}</p>

    <h2>Cart</h2>
    {% for order in cart %}
      <p>{{ order.restaurant.name }}</p>
      {% for item in order.item_set.all %}
        <t><p>{{ item.quantity }}</p>
        <t><t><p>{{ item.food.name }} - R$ {{ item.food.price }}</p>
      {% endfor %}
      <p>Total: R$ {{ cart.total_price }}</p>
    {% endfor %}

    <h2>Orders</h2>
    {% for order in orders %}
     <p>{{ order.restaurant.name }}</p>
      {% for item in order.item_set.all %}
        <t><p>{{ item.quantity }}</p>
        <t><t><p>{{ item.food.name }} - R$ {{ item.food.price }}</p>
      {% endfor %}
      <p>Total: R$ {{ cart.total_price }}</p>
    {% endfor %}
  {% else %}
    <p>You are not logged in</p>
  {% endif %}
{% endblock %}
