{% extends 'base.html' %}
{% load static %}

{% block title %}
  {{ restaurant.name }}
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'restaurant/css/style.css' %}" />
{% endblock %}

{% block content %}
  <div style = "margin:0" class="menu">
    <h1>{{ restaurant.name }}</h1>
    <h2>{{ restaurant.message }}</h2>
    {% for menu in restaurant.menu_set.all %}
      <section class="menu-item">
        <h3>{{ menu.name }}</h3>
        {% for food in menu.food_set.all %}
          {% if not food.hidden %}
            <div class="item">
              <a href="{% url 'cart:add_to_cart' restaurant.id food.id %}" class="cart">
                {% if food.photo %}
                  <img src="{{ food.photo.url }}" alt="{{ food.name }}" width="300"/>
                {% endif %}
                <p>{{ food.name }} - R$ {{ food.price }}</p>
                <p>{{ food.description }}</p>
              </a>
            </div>
          {% endif %}
        {% endfor %}
      </section>
    {% endfor %}
  </div>
{% endblock %}
