{% extends "base.html" %}
{% load static %}

{% block title %}Restaurants{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'restaurant/css/index.css' %}" />
{% endblock %}


{% block content%}
<div class="menu">
    <h1 class="texto">Restaurants</h1>
    {% if restaurant_list %}
    {% for restaurant in restaurant_list %}
    <section class="menu-item">
        <div class="item">
        <a href={% url 'restaurant:detail' restaurant.id %} class="cart">
        <h3 class = "nome">{{ restaurant.name }}</h3>
            {% if restaurant.logo %}
                <img src="{{ restaurant.logo.url }}" alt="{{ restaurant.name }}" href={% url 'restaurant:detail' restaurant.id %} width="300" height="200">
                <br>
            {% endif %}
        </a>
        </div>
    </section>
    {% endfor %}
    {% else %}
    <p>No restaurants are available.</p>
    {% endif %}
</div>
{% endblock %}