{% extends "base.html" %}
{% load static %}

{% block title %}Restaurants{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'restaurant/style.css' %}">
{% endblock %}

{% block content%}
{% if restaurant_list %}
    <p>Restaurants:</p>
        <ul>
    {% for restaurant in restaurant_list %}
        <li>
            <a href={% url 'restaurant:detail' restaurant.id %}>
                {% if restaurant.logo %}
                    <img src="{{ restaurant.logo.url }}" alt="{{ restaurant.name }}" href={% url 'restaurant:detail' restaurant.id %} width="300" height="200">
                    <br>
                {% endif %}
                {{ restaurant.name }}
            </a>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No restaurants are available.</p>
{% endif %}
{% endblock %}