<!-- templates/base.html -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>
      {% block title %}
        Base Page - menuFacil
      {% endblock %}
    </title>
  </head>
  <body>
    <main>
      {% block login %}
        {% if user.is_authenticated %}
          <p>
            Hi <a href="{% url 'account:profile' %}">{{ user.username }}</a>!
          </p>
          <p>
            <a href="{% url 'cart:cart_detail' %}">
              Cart{% if cart %}
                ({{ cart|length }})
              {% endif %}
            </a>

            <br /><a href="{% url 'order:list_orders' %}">My orders</a>
          </p>
        {% else %}
          <p>You are not logged in</p>
          <a href="{% url 'account:login' %}">Log In</a>
          <a href="{% url 'account:signup' %}">Sign Up</a>
        {% endif %}
        {{ message }}
        <p>
          <a href="{% url 'restaurant:index' %}">Home</a>
        </p>
      {% endblock %}

      {% block content %}

      {% endblock %}
    </main>
  </body>
</html>
