{% extends 'base.html' %}
{% load static %}

{% block title %}
  Order Details
{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{% static 'order/css/style.css' %}" />
{% endblock %}

{% block content %}
  <div class="container">
    <h1>Your Order</h1>
    <div class="container">
      <div class="details">
        <table>
          <tr>
            <td>Order ID:</td>
            <td>{{ order.id }}</td>
          </tr>
          <tr>
            <td>Customer Name:</td>
            <td>{{ order.client.username }}</td>
          </tr>
          <tr>
            <td>Restaurant Name:</td>
            <td>{{ order.restaurant.name }}</td>
          </tr>
          <tr>
            <td>Order Date:</td>
            <td>{{ order.created_at|date:'H:i d/m/Y' }}</td>
          </tr>
          <tr>
            <td>Last Updated:</td>
            <td>{{ order.updated_at|date:'H:i d/m/Y' }}</td>
          </tr>
          <tr>
            <td>Order Status:</td>
            <td>{{ order.get_status_display }}</td>
          </tr>
          <tr>
            <td>Order Payed:</td>
            {% if order.status == 'OP' %}
              <td>Waiting Confirmation</td>
            {% elif not order.payed %}
              <td>
                <a href="{% url 'order:pay_order' order.id %}">Pay</a>
              </td>
            {% else %}
              <td>Payed</td>
            {% endif %}
          </tr>

          {% if order.pending_cancellation %}
            <tr>
              <td>Cancelation Requested:</td>
              <td>{{ order.pending_cancellation }}</td>
            </tr>
          {% endif %}
        </table>
      </div>

      <div class="buttons">
        {% if order.status == 'OP' %}
          <div>
            <a href="{% url 'order:reopen_confirm_order' order.id %}">Reconfirm Order</a>
          </div>
        {% endif %}

        {% if order.status == 'OP' or order.status == 'MD' or order.status == 'IP' %}
          {% if not order.pending_cancellation and not order.payed %}
            <div class="button-danger">
              <a href="{% url 'order:cancel_order' order.id %}" c>Cancel Order</a>
            </div>
          {% endif %}
        {% endif %}
      </div>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th>Product</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Total Price</th>
        </tr>
      </thead>
      <tbody>
        {% for item in order.item_set.all %}
          <tr>
            <td>{{ item.food }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.food.price }}</td>
            <td>{{ item.price }}</td>
          </tr>
        {% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <td colspan="2"></td>
          <td>Total:</td>
          <td>{{ order.total_price }}</td>
        </tr>
      </tfoot>
    </table>
  </div>
{% endblock %}
