{% extends "base.html" %}
{% load static %}

{% block title%}
    Your Orders
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'order/css/style.css' %}" />
{% endblock %}

{% block content %}
    <h1 class = "carrinho"> Your Order </h1>
    <a class="carrinho"href="{% url 'tab:index' %}">View Tab</a>
    {% if order %} 
    <div class = "carrinho">
    <table class="table">
        <thead>
            <tr>
                <th>Item Name</th>
                <th>Item Quantity</th>
                <th>Item Price</th>
                <th>Item Total</th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
            {% for item in itens %}
            <tr>
                <td>{{ item.food.name }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.price }} </td>
                <td>{{ item.get_total_item_price }} </td>
            </tr>
            {% endfor %}
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>Total: {{ order.total_price }} </td>
            </tr>
        <tbody>
    </table>
    </div>
    {% else %}
        <h2 class = "carrinho"> Order not found </h2>
    {% endif %}
{% endblock %}
