{% extends "base.html" %}
{% load static %}

{% block title%}
    Your Orders
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'order/css/style.css' %}" />
{% endblock %}


{% block content %}
    <h1 class = "carrinho"> Your Orders </h1>
    {% if orders %} 
    <div class = "carrinho">
    <table class="table">
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Order Date</th>
                <th>Order Status</th>
                <th>Order Payed</th>
                <th>Order Total</th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
                <tr>
                    <td>{{ order.id|truncatechars:9 }}</td>
                    <td>{{ order.created_at|date:"H:i d/m/Y" }}</td>
                    <td>{{ order.get_status_display }} </td>
                    {% if order.status == 'OP' %}
                        <td> Waiting Confirmation </td>
                    {% elif not order.payed %}
                        <td><a href="{% url 'order:pay_order' order.id %}"> Pay </a> </td>
                    {% else %}
                        <td> Payed </td>
                    {% endif %}
                    <td>R$ {{ order.total_price }} </td>
                    <td> <a href="{% url 'order:details_order' order.id %}">Details</a> </td>
                </tr>
            {% endfor %}
        <tbody>
    </table>
    </div>
    {% else %}
        <h2 class = "carrinho"> You have no orders </h2>
    {% endif %}
{% endblock %}