{% extends "base.html" %}
{% block content %}
    <h1> Your Orders </h1>
    {% if orders %} 
    <table class="table">
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Order Date</th>
                <th>Order Status</th>
                <th>Order Total</th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
                <tr>
                    <td>{{ order.id|truncatechars:9 }}</td>
                    <td>{{ order.created_at|date:"H:i d/m/Y" }}</td>
                    <td>{{ order.get_status_display }} </td>
                    <td>R$ {{ order.total_price }} </td>
                    <td> <a href="{% url 'order:details_order' order.id %}">Details</a> </td>
                </tr>
            {% endfor %}
        <tbody>
    </table>
    {% else %}
        <h2> You have no orders </h2>
    {% endif %}
    

{% endblock %}