{% extends 'base.html' %}
{% load static %}

{% block title %}
  QR Code
{% endblock %}

{% block head %}
  <style>
    img {
      display: block;
      margin: 0 auto;
    }
  </style>
{% endblock %}

{% block content %}
  {% if order %}
    {% if cancel %}
      <a href="{% url 'order:cancelation_order' order.id %}">
        <img src="{{ order.qr_code.url }}" alt="QR Code" />
      </a>
    {% else %}
      <a href="{% url 'order:confirm_order' order.id %}">
        <img src="{{ order.qr_code.url }}" alt="QR Code" />
      </a>
    {% endif %}
  {% else %}
    <p>Unable to generate QR Code</p>
  {% endif %}
{% endblock %}
