{% extends 'base.html' %}
{% load static %}

{% block title %}
  Order Validation
{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{% static 'order/css/style.css' %}" />
{% endblock %}

{% block content %}
  <div class="container">
    <h1>Order Validation</h1>
    {% if order %}
      {% if cancel %}
        <h2>Action: Cancel</h2>
        <a href="{% url 'order:cancelation_order' order.id %}"><img src="{{ order.qr_code.url }}" alt="QR Code" /></a>
      {% elif pay %}
        <h2>Action: Pay</h2>
        <a href="{% url 'order:list_orders' %}"><h2>Pay Later</h2></a>
        <a href="{% url 'order:payed_order' order.id %}"><img src="{{ order.qr_code.url }}" alt="QR Code" /></a>
      {% else %}
        <h2>Action: Confirm</h2>
        <a href="{% url 'order:confirm_order' order.id %}"><img src="{{ order.qr_code.url }}" alt="QR Code" /></a>
      {% endif %}
    {% else %}
      <p>Unable to generate QR Code</p>
    {% endif %}
  </div>
{% endblock %}
