{% extends 'base.html' %}
{% load static %}

{% block title %}
  QR Code
{% endblock %}

{% block head %}
  <style>
    img {
      display: block;
      margin: 0 auto;
    }
  </style>
{% endblock %}

{% block content %}
  {% if order %}
    {% if cancel %}
      <a href="{% url 'order:cancelation_order' order.id %}"><img src="{{ order.qr_code.url }}" alt="QR Code" /></a>
    {% elif pay %}
      <h1>Pay Now</h1>
      <a href="{% url 'order:payed_order' order.id %}"><img src="{{ order.qr_code.url }}" alt="QR Code" /></a>
      <a href="{% url 'order:list_orders' %}"><h1>Pay Later</h1></a>
    {% else %}
      <a href="{% url 'order:confirm_order' order.id %}"><img src="{{ order.qr_code.url }}" alt="QR Code" /></a>
    {% endif %}
  {% else %}
    <p>Unable to generate QR Code</p>
  {% endif %}
{% endblock %}
