<!-- templates/registration/login.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}
  Login
{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{% static 'account/css/style.css' %}" />
{% endblock %}

{% block content %}
<body class="sub_page">

  <div class="container-login">
    <h2>Log In</h2>
    <form method="post">
      {% csrf_token %}
      <div class="form">
        {{ form.as_p }}
        <button type="submit">Log In</button>
      </div>
    </form>
  </div>
</body>
{% endblock %}
