{% extends 'base.html' %}
{% load static %}

{% block title %}
  Account
{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<body class="sub_page">
    <section class="recipe_section layout_padding-top">
        <div class="container">
          <div class="heading_container heading_center" >
            <h1>Account</h1>
            <p class="greeting">Hi {{ user.username }}!</p>
            <div class="form-row " style="display: flex; flex-direction: column">
              <div class="btn-box" >
                <a href="{% url 'account:password_change' %}" >Change Password</a>
              </div>

              <div class="btn-box" >
                  {% csrf_token %}
                    <a href="{% url 'account:logout' %}">Log out</a>
              </div>
              <div class="btn-box">
                <a href="{% url 'account:delete' request.user.pk %}">Delete your account</a>
              </div>   
            </div>       
          </div>
        </div>
    </section> 

</body>
  
{% endblock %}
