{% extends 'base.html' %}

{% load static %}

{% block title %}
  Register
{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{% static 'account/css/style.css' %}" />
{% endblock %}

{% block content %}
  {% load crispy_forms_tags %}

  <!-- Register -->
  <div class="container py-5">
    <h1 class="register">Register</h1>
    <div class="form">
      <form method="POST">
        {% csrf_token %}
        {{ register_form|crispy }}
        <button class="btn btn-primary" type="submit">Register</button>
      </form>
    </div>
  </div>
{% endblock %}
