{% extends 'base.html' %}
{% load static %}

{% block title %}
  Your Tab
{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{% static 'tab/css/details.css' %}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
{% endblock %}

{% block content %}
  <div class="comanda">
    <h1>Your Tab</h1>
    {% if orders %}
      {% csrf_token %}
      <script>
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value
        const cancelURL = "{% url 'order:cancel' %}"
      </script>
      <div class="pay-buttons">
        <div class="button">
          <a href="{% url 'tab:online' %}">Pay Online</a>
        </div>
        <div class="button">
          <a href="{% url 'tab:physical' %}">Pay at the Bar</a>
        </div>
      </div>
      <p></p>
      {% for order in orders %}
        <button class="accordion">
          <p>Order #{{ forloop.counter }}</p>
          <p>Status: {{ order.get_status_display }}</p>
          <p>Price: {{ order.get_total_price|floatformat:2 }}</p>
        </button>
        <div class="accordion-content">
          <div class="container">
            <div class="details">
              <table>
                <tr>
                  <td>Order Date:</td>
                  <td>{{ order.created_at|date:'d/m/Y H:i' }}</td>
                </tr>
                <tr>
                  <td>Last Updated:</td>
                  <td>{{ order.updated_at|date:'d/m/Y H:i' }}</td>
                </tr>
              </table>
            </div>

            <table class="table">
              <thead>
                <tr>
                  <th>Product</th>
                  <th>Quantity</th>
                  <th>Price</th>
                  <th>Total Price</th>
                </tr>
              </thead>
              <tbody>
                {% for item in order.item_set.all %}
                  <tr>
                    <td>{{ item.food }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.get_price|floatformat:2 }}</td>
                    <td>{{ item.get_total_price|floatformat:2 }}</td>
                  </tr>
                {% endfor %}
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="2"></td>
                  <td>Total:</td>
                  <td>{{ order.get_total_price|floatformat:2 }}</td>
                </tr>
              </tfoot>
            </table>

            <div class="buttons">
              {% if order.status == 'OP' or order.status == 'MD' or order.status == 'IP' %}
                {% if not order.pending_cancellation and not order.payed %}
                  <div class="button-danger">
                    <a id="cancel{{ forloop.counter }}">Cancel Order</a>
                    <script>
                      document.getElementById('cancel{{ forloop.counter }}').onclick = function () {
                        SendPost(
                          csrftoken,
                          cancelURL,
                          { order: '{{ order.id }}' },
                          function (data, textStatus, jqXHR) {
                            location.reload()
                          },
                          function (jqXHR, textStatus, errorThrown) {
                            console.log(errorThrown)
                          }
                        )
                      }
                    </script>
                  </div>
                {% endif %}
                {% if order.pending_cancellation %}
                  <h4>Cancelation Requested</h4>
                {% endif %}
              {% endif %}
            </div>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <p>Your Tab is empty.</p>
    {% endif %}
  </div>

  <script>
    var accordions = document.getElementsByClassName('accordion')
    
    for (var i = 0; i < accordions.length; i++) {
      accordions[i].onclick = function () {
        this.classList.toggle('is-open')
    
        var content = this.nextElementSibling
        if (content.style.maxHeight) {
          // accordion is currently open, so close it
          content.style.maxHeight = null
        } else {
          // accordion is currently closed, so open it
          content.style.maxHeight = content.scrollHeight + 'px'
        }
      }
    }
  </script>
{% endblock %}
