{% extends "base.html" %}
{% load static %}

{% block title %}Present Tab QRCode{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'restaurant/css/index.css' %}" />
    {% comment %}! Doesn't work for some reason? {% endcomment %}
    {% comment %} <script type="text/javascript" src="{% static 'tab/instascan.min.js' %}"></script> {% endcomment %}
    <script src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
{% endblock %}


{% block content%}
<div>
  <div class="col-sm-12">
    <video id="preview" class="camera_scan"></video>
  </div>
  {% csrf_token %}
  <script type="text/javascript">
    var scanner = new Instascan.Scanner({ video: document.getElementById('preview'), scanPeriod: 5, mirror: false });
    var URL = "{% url 'tab:present' %}";

    var redirectURL = "{% url 'home' %}";

    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    function SendQRCode(content){
        var QRCode = {'data': content};
        $.ajax({
          url : URL,
          type: "POST",
          headers: {'X-CSRFToken': '{{ csrf_token }}'},
          data : QRCode,
          dataType : "json",
          success: function(data, textStatus, jqXHR)
          {
            alert('Successfully presented tab!');
            window.location.href=redirectURL;
          },
          error: function (jqXHR, textStatus, errorThrown)
          {
            alert('Invalid QRCode!');
          }
      })
    }

    scanner.addListener('scan',function(content){ 
      SendQRCode(content);
    });
    
    Instascan.Camera.getCameras().then(function (cameras){
      let buttons = '<label class="btn btn-primary active"><input type="radio" name="options" value="1" autocomplete="off" checked> 1 Camera</label>';
      for(let i = 1; i < cameras.length; i++) {
        buttons += '\n<label class="btn btn-secondary">';
        buttons += '<input type="radio" name="options" value="' + (i+1) +'" autocomplete="off">';
        buttons += '' + (i+1) + ' Camera</label>';
      }
      console.log(buttons);
      el = document.getElementById('result');
      el.innerHTML = buttons;

      if(cameras.length>0){
        scanner.start(cameras[0]);
        $('[name="options"]').on('change',function(){
            if(cameras[$(this).val()-1]!=""){
              scanner.start(cameras[$(this).val()-1]);
            }else{
              alert('No camera found in button!');
            }
        });
      }else{
        console.error('No cameras found.');
        alert('No cameras found.');
      }
    }).catch(function(e){
      console.error(e);
      alert(e);
    });
  </script>

  <div class="camera-buttons" data-toggle="buttons" id="result">
  </div>
</div>
{% endblock %}