{% extends "base.html" %}
{% load static %}

{% block title %}Present Tab QRCode{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'restaurant/css/index.css' %}" />
{% endblock %}


{% block content%}
<div>
  {% comment %}! Doesn't work for some reason? {% endcomment %}
  {% comment %} <script type="text/javascript" src="{% static 'tab/instascan.min.js' %}"></script> {% endcomment %}
  <script src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <div class="col-sm-12">
    <video id="preview" class="p-1 border" style="width:100%;"></video>
  </div>
  <script type="text/javascript">
    var scanner = new Instascan.Scanner({ video: document.getElementById('preview'), scanPeriod: 5, mirror: false });
    scanner.addListener('scan',function(content){
      alert(content);
      //window.location.href=content;
    });
    Instascan.Camera.getCameras().then(function (cameras){
      if(cameras.length>0){
        scanner.start(cameras[0]);
        $('[name="options"]').on('change',function(){
            if(cameras[$(this).val()-1]!=""){
              scanner.start(cameras[$(this).val()-1]);
            }else{
              alert('No camera found in button!');
            }
        });
      }else{
        console.error('No cameras found.');
        alert('No cameras found.');
      }
    }).catch(function(e){
      console.error(e);
      alert(e);
    });
  </script>
  <div class="btn-group btn-group-toggle mb-5" data-toggle="buttons">
    <script>
      var buttons = '<label class="btn btn-primary active"><input type="radio" name="options" value="1" autocomplete="off" checked> 1 Camera</label>';
      Instascan.Camera.getCameras().then(function (cameras){
        for(let i = 1; i < cameras.length-1; i++) {
          buttons += '<label class="btn btn-secondary">';
          buttons += '<input type="radio" name="options" value="' + (i+1) +'" autocomplete="off" checked>';
          buttons += '' + (i+1) + ' Camera</label>';
        }
      });
      console.log(buttons)
    </script>
    {% comment %} <label class="btn btn-primary active">
    <input type="radio" name="options" value="1" autocomplete="off" checked> Front Camera
    </label>
    <label class="btn btn-secondary">
    <input type="radio" name="options" value="2" autocomplete="off"> Back Camera
    </label>
    <label class="btn btn-secondary">
    <input type="radio" name="options" value="3" autocomplete="off"> Back Camera
    </label>
    <label class="btn btn-secondary">
    <input type="radio" name="options" value="4" autocomplete="off"> Back Camera
    </label>
    <label class="btn btn-secondary">
    <input type="radio" name="options" value="5" autocomplete="off"> Back Camera
    </label>
    <label class="btn btn-secondary">
    <input type="radio" name="options" value="6" autocomplete="off"> Back Camera
    </label> {% endcomment %}
  </div>
</div>
{% endblock %}