{% extends "base.html" %}
{% load static %}

{% block title %}Present Tab QRCode{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'restaurant/css/index.css' %}" />
    <script src="{% static 'tab/js/instascan.min.js' %}"></script>
{% endblock %}


{% block content%}
<div>
  <div class="col-sm-12">
    <video id="preview" class="camera_scan"></video>
  </div>
  {% csrf_token %}
  <script type="text/javascript">
    var scanner = new Instascan.Scanner({ video: document.getElementById('preview'), scanPeriod: 5, mirror: false });
    
    const URL = "{% url 'tab:present' %}";
    const redirectURL = "{% url 'home' %}";
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

    scanner.addListener('scan', function(content){
      SendPost(csrftoken, URL, {'tab': content},
        function(data, textStatus, jqXHR) {
            alert('Successfully presented tab!');
            window.location.href=redirectURL;
        },
        function (jqXHR, textStatus, errorThrown) {
            alert('Invalid QRCode!');
        }
      )
    });
    
    Instascan.Camera.getCameras().then(function (cameras){
      let buttons = '<label class="btn btn-primary active"><input type="radio" name="options" value="1" autocomplete="off" checked> 1 Camera</label>';
      for(let i = 1; i < cameras.length; i++) {
        buttons += '\n<label class="btn btn-secondary">';
        buttons += '<input type="radio" name="options" value="' + (i+1) +'" autocomplete="off">';
        buttons += '' + (i+1) + ' Camera</label>';
      }
      console.log(buttons);
      el = document.getElementById('result');
      el.innerHTML = buttons;

      if(cameras.length>0){
        scanner.start(cameras[0]);
        $('[name="options"]').on('change',function(){
            if(cameras[$(this).val()-1]!=""){
              scanner.start(cameras[$(this).val()-1]);
            }else{
              alert('No camera found in button!');
            }
        });
      }else{
        console.error('No cameras found.');
        alert('No cameras found.');
      }
    }).catch(function(e){
      console.error(e);
      alert(e);
    });
  </script>

  <div class="camera-buttons" data-toggle="buttons" id="result">
  </div>
</div>
{% endblock %}