.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: white;
    color: black;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.menu-item {
    /*display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

    gap: 20px;*/
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media (max-width: 600px) {
    .menu-item {
        grid-template-columns: 1fr;
    }
}

.cart {
    color: #f2f2f2;
    text-decoration: none;
    text-align: center;
}

.cart img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 300px;
    color: black;
}

.nome {
    color: black;
    font-size: 30px;
}

.texto {
    align-items: center;
}

.item {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.item a {
    color: black;
    text-decoration: none;
    text-align: center;
}

.item a img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 300px;
    color: black;
}

.container-food {
    margin: 0vh 0vw 2vh 0vw;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    font-size: 25px;
}

.container-food a {
    background-color: whitesmoke;
    padding: 10px 10px;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    border-radius: 12px;
    margin-top: 0px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.container-food a:hover {
    background-color: #4855fe;
}
.menu-item :hover {
    color: white;
}


.container-food p {
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    max-width: 25vw;
    text-wrap: wrap;
}

@media (max-width: 600px) {
    .container-food p {
        max-width: 50vw;
    }
}

.container-food img {
    margin-left: auto;
    margin-right: auto;
    width: 15vw;
    height: 12vw;
}

.menus {
    display: flex;
    flex-direction: row;
    justify-content: center;
    vertical-align: text-top;
    gap: 5vw;
}