.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: white;
    color: black;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.menu-item {
    /*display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

    gap: 20px;*/
    display: flex;
    align-items: center;
}

@media (max-width: 600px) {
    .menu-item {
        grid-template-columns: 1fr;
    }
}

.cart {
    color: #f2f2f2;
    text-decoration: none;
    text-align: center;
}

.cart img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 300px;
    color: black;
}

.nome {
    color: black;
    font-size: 30px;
}

.texto {
    align-items: center;
}

.item {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.item a {
    color: black;
    text-decoration: none;
    text-align: center;
}

.item a img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 300px;
    color: black;
}